.dashboard-page {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px,1fr));
  grid-gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .grid-item {
    background-color: #FFFFFF;
    border-radius: 15px;
  }

  .grid-info-list {
    grid-column: 1 / -1;
  }

  .line-chart {
    grid-column: 1/2;
  }

  .check-table {
    grid-column: 1/2;
  }
}
