.upgrade {
  width: 200px;
  height: 190px;
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
  border-radius: 24px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #E9EDF7;

  h3 {
    font-weight: 700;
  }

}