.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 20px;
  position: relative;

  .burger-btn {
    display: none;
  }


  @media (max-width: 768px) {
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    border-radius: 0;
    position: fixed;

    .mobile-menu {
      display: block;
      position: fixed;
    }
    .burger-btn {
      display: block;
    }
  }
}


input {
  padding: 8px 5px 8px 30px;
  border-radius: 20px;
  color: #8F9BBA;
  background: #F4F7FE url("../../assets/images/icons/search.png") no-repeat 8px;

  @media (max-width: 768px) {
    display: none;
  }
}