.grid-item-box {

  .item-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right-head {
      font-family: 'DM Sans', sans-serif;
      font-size: 14px;
      color: #05CD99;
      font-weight: 700;
    }
  }

  .item-body {
    display: flex;
    padding: 0 10px 10px 10px;
  }
}

